In [8]:
from sklearn.mixture import GaussianMixture
from tqdm import tqdm
import pandas as pd
import numpy as np
import os

In [9]:
# PATH = 'ml-100k'
# dataset = 'user.data'

In [13]:
dataframe = pd.read_csv("user.data", sep='\t', header=None)

In [14]:
dataframe.rename(columns={0: 'users', 1: 'items', 2: 'ratings', 3: 'date'}, inplace=True)

In [15]:
dataframe

       users  items  ratings       date
0        196    242        3  881250949
1        186    302        3  891717742
2         22    377        1  878887116
3        244     51        2  880606923
4        166    346        1  886397596
...      ...    ...      ...        ...
99995    880    476        3  880175444
99996    716    204        5  879795543
99997    276   1090        1  874795795
99998     13    225        2  882399156
99999     12    203        3  879959583

[100000 rows x 4 columns]

In [16]:
dataframe['date'] = pd.to_datetime(dataframe['date'], unit='s')

In [17]:
dataframe

       users  items  ratings                date
0        196    242        3 1997-12-04 15:55:49
1        186    302        3 1998-04-04 19:22:22
2         22    377        1 1997-11-07 07:18:36
3        244     51        2 1997-11-27 05:02:03
4        166    346        1 1998-02-02 05:33:16
...      ...    ...      ...                 ...
99995    880    476        3 1997-11-22 05:10:44
99996    716    204        5 1997-11-17 19:39:03
99997    276   1090        1 1997-09-20 22:49:55
99998     13    225        2 1997-12-17 22:52:36
99999     12    203        3 1997-11-19 17:13:03

[100000 rows x 4 columns]

In [18]:
users_items_matrix = dataframe.pivot(index='users', columns='items', values='ratings').replace(np.nan, 0).values

In [19]:
users_items_matrix = pd.DataFrame(users_items_matrix)

In [20]:
users_items_matrix

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
939,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
GMM = GaussianMixture(n_components=4)

In [22]:
GMM.fit(users_items_matrix)

GaussianMixture(n_components=4)

In [23]:
users_items_matrix['label'] = GMM.predict(users_items_matrix)

In [24]:
users_items_matrix

,0,1,2,3,4,5,6,7,8,9,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,label
0,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
4,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
938,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
939,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
940,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
942,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [25]:
def find_mutual(group):
    index, content = group['label'].iloc[0], pd.DataFrame(group.drop('label', axis=1)).T
    result = {}
    for item in range(len(content)):
        result[item] = content.loc[item][content.loc[item] != 0].index.to_list()
    return pd.DataFrame([result])

In [26]:
interaction_matrix = users_items_matrix.groupby('label').apply(find_mutual).droplevel(1).T

In [27]:
interaction_matrix

label,0,1,2,3
0,"[4, 15, 22, 24, 37, 40, 43, 48, 56, 57, 64, 69...","[0, 41, 42, 55, 61, 63, 91, 93, 94, 108, 129, ...","[1, 14, 16, 19, 20, 25, 44, 53, 62, 65, 66, 74...","[5, 9, 12, 17, 58, 150, 183, 188, 193, 200, 23..."
1,"[4, 21, 48, 71, 82, 101, 109, 196, 206, 212, 2...","[0, 41, 63, 86, 91, 94, 129, 177, 199, 221, 25...","[29, 192, 216]","[12, 200, 233, 270, 292, 304, 326, 378, 384, 3..."
2,"[48, 81, 98, 159, 206, 215, 220, 245, 335, 341...","[0, 42, 61, 94, 129, 144, 243, 266, 267, 275, ...","[62, 80, 103, 156, 180, 431, 458, 462, 485, 53...","[58, 268, 292, 342, 405, 428, 449, 536, 560, 5..."
3,"[11, 15, 21, 48, 76, 82, 98, 101, 114, 143, 15...","[0, 42, 61, 63, 86, 91, 93, 108, 129, 221, 255...","[18, 83, 217, 218, 286, 475, 770, 859]","[6, 9, 12, 17, 58, 150, 188, 193, 200, 233, 27..."
4,"[27, 43, 71, 101, 117, 187, 206, 269, 343, 424...","[0, 42, 91, 108, 129, 144, 255, 266, 275, 279,...","[20, 134, 217, 254, 366, 367, 371, 374, 387, 4...","[12, 233, 268, 292, 307, 338, 405, 436, 654, 6..."
...,...,...,...,...
1677,[],[],[862],[]
1678,[],[],[862],[]
1679,[],[],[862],[]
1680,[],[895],[],[]
1681,[],[915],[],[]

In [28]:
def triangle_similarity(list1, list2):
    AB = len(set(list2) - set(list1))
    OA, OB = len(list1), len(list2)
    return 1 - (AB / (OA + OB))

In [29]:
def jcrd_similarity(list1, list2):
    intersection = len(list(set(list1).intersection(set(list2))))
    union = len(set(list1)) + len(set(list2)) - intersection
    return intersection / union

In [30]:
def CTJ(first_vector, second_vector):
    first_vector = np.concatenate(first_vector).ravel()
    second_vector = np.concatenate(second_vector).ravel()
    
    jaccard_similarity_ = jcrd_similarity(first_vector, second_vector)
    triangle_similarity_ = triangle_similarity(first_vector, second_vector)
    
    return 0.5 * jaccard_similarity_ * (triangle_similarity_ + 1)

In [31]:
similarity_matrix = np.zeros((len(interaction_matrix), len(interaction_matrix)))

In [32]:
interaction_matrix = interaction_matrix.values

In [33]:
for i in tqdm(range(len(interaction_matrix) - 1)):
    for j in range(i + 1, len(interaction_matrix)):
        similarity_score = CTJ(interaction_matrix[i], interaction_matrix[j])
        similarity_matrix[i, j] = similarity_matrix[j, i] = similarity_score

100%|██████████| 1681/1681 [00:53<00:00, 31.27it/s]
 83%|████████▎ | 1398/1681 [00:53<00:01, 235.01it/s]

In [34]:
similarity_matrix = pd.DataFrame(similarity_matrix)

In [35]:
similarity_matrix

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.000000,0.212091,0.166243,0.277808,0.115309,0.029794,0.466291,0.283445,0.341610,0.123795,...,0.002212,0.0,0.000000,0.000000,0.002212,0.0,0.0,0.0,0.002212,0.002212
1,0.212091,0.000000,0.158782,0.297000,0.182348,0.037204,0.156690,0.166994,0.105054,0.094192,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.007634,0.007634
2,0.166243,0.158782,0.000000,0.147412,0.110466,0.058961,0.119421,0.099153,0.100287,0.095531,...,0.000000,0.0,0.000000,0.000000,0.011111,0.0,0.0,0.0,0.000000,0.011111
3,0.277808,0.297000,0.147412,0.000000,0.196617,0.038383,0.250086,0.293735,0.210796,0.129394,...,0.000000,0.0,0.004785,0.004785,0.004785,0.0,0.0,0.0,0.004785,0.004785
4,0.115309,0.182348,0.110466,0.196617,0.000000,0.016234,0.107598,0.103353,0.091108,0.031905,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.011628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,1.0,1.0,0.000000,0.000000
1678,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000
1679,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.0,1.0,0.0,0.000000,0.000000
1680,0.002212,0.007634,0.000000,0.004785,0.000000,0.000000,0.002551,0.004566,0.003344,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000
1681,0.002212,0.007634,0.011111,0.004785,0.011628,0.000000,0.002551,0.000000,0.003344,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000

In [36]:
def predict(i_th_user_index, j_th_item_index):
    weights_sum = similarity_matrix[j_th_item_index].sum()
    user_vector = users_items_matrix.drop('label', axis=1).loc[i_th_user_index]
    similarity_vector = similarity_matrix[j_th_item_index]
    return np.dot(user_vector, similarity_vector) / weights_sum

In [37]:
round(predict(6, 70))

2